
main/.vs/main/FileContentIndex/7008befa-4043-496d-8e00-3489e8823e0d.vsidx
main/.vs/main/FileContentIndex/318acb5d-2648-49e2-9ef4-a2e4ebe0f65f.vsidx
main/.vs/main/FileContentIndex/a92942ef-d09e-4a6a-9363-c8e111f22de2.vsidx
main/.vs/main/FileContentIndex/d83aa10f-ab07-43fb-8e00-c687ceb41515.vsidx
main/.vs/main/FileContentIndex/eb42f504-4ea7-40fa-bdef-94d5f0316a67.vsidx
main/.vs/main/v17/Browse.VC.db
main/.vs/main/v17/.suo
main/.vs/main/v17/Browse.VC.db-wal
main/.vs/main/v17/ipch/AutoPCH/d90c31fa01f94997/MAIN.ipch
main/.vs/main/v17/Browse.VC.db-shm
main/.vs/main/v17/DocumentLayout.json
main/.vs/main/v17/ipch/AutoPCH/1e79c67e1c62e52a/CONVERTOR.ipch
main/.vs/main/v17/ipch/AutoPCH/85865cc29d1fad70/TESTING.ipch
main/x64/Debug/main.pdb
main/x64/Debug/main.exe
main/main/x64/Debug/vc143.pdb
main/main/x64/Debug/vc143.idb
main/main/x64/Debug/testing.obj
main/main/x64/Debug/main.tlog/main.lastbuildstate
main/main/x64/Debug/main.tlog/link.write.1.tlog
main/main/x64/Debug/main.tlog/link.secondary.1.tlog
main/main/x64/Debug/main.tlog/link.read.1.tlog
main/main/x64/Debug/main.tlog/link.command.1.tlog
main/main/x64/Debug/main.tlog/CL.write.1.tlog
main/main/x64/Debug/main.tlog/CL.read.1.tlog
main/main/x64/Debug/main.tlog/Cl.items.tlog
main/main/x64/Debug/main.tlog/CL.command.1.tlog
main/main/x64/Debug/main.obj
main/main/x64/Debug/main.log
main/main/x64/Debug/main.ilk
main/main/x64/Debug/main.exe.recipe
main/main/x64/Debug/Convertor.obj
main/main/main.vcxproj.user
main/main/main.vcxproj.filters
main/main/main.vcxproj
main/.vs/main/v17/Solution.VC.db
